@{
	ViewBag.Title = "Home Page";
}

@if (ViewBag.UserInfo != null) {

	<div class="jumbotron">

		<h1>Olá, @ViewBag.UserInfo.DisplayName</h1>
		<p class="lead">
			@if (@ViewBag.UserImage != null) {
				<img src="@ViewBag.UserImage" />
			}
		</p>

	</div>
}


<div class="row">

	@if (ViewBag.UserInfo == null) {

		<div class="col-md-4">
			<p>
				<a href="@ViewBag.SpotifyUrl" class="btn btn-lg btn-primary">
					Entrar no Spotify
				</a>
			</p>
		</div>
	}
	else {
		@Html.Partial("_Tracks", ViewData)
	}
</div>